li:first-child a{
  font-size:16px;
  color:#343a40;
}
a{color:#999;
  font-size:14px;
}
.aplle_icon{
  width: 20px;
  height: 22px;

}
.android_icon{
  width: 20px;
  height: 22px;
}
.my_position{
  margin-left: 64px;
}